<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit Listing</h3>
      <form
        method="post"
        action="/listing/<%=listing.id%>?_method=PUT"
        novalidate
        class="needs-validation"
        onsubmit="validateForm(event)"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label"> Title:</label>
          <input
            type="text"
            name="listing[title]"
            class="form-control"
            value="<%=listing.title %>"
            required
          />
          <div class="valid-feedback">Title looks fine</div>
        </div>

        <div class="mb-3">
          Original listing image:
          <br />
          <img
            src="<%=originalImageUrl %>"
            alt="listing image"
            class="img-thumbnail mt-2"
            style="max-width: 300px"
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label"> Upload New Image:</label>
          <input type="file" name="listing[image]" class="form-control" />
          <div class="valid-feedback">
            Default image will be placed in case of empty field
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            cols="50"
            rows="10"
            class="form-control"
            required
          >
              <%=listing.description %></textarea
          >
          <div class="invalid-feedback">Adds a short note about the spot</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            value="<%=listing.location %> "
            required
          />
          <div class="invalid-feedback">Enter a valid location!</div>
        </div>
        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Price:</label>
            <input
              type="number"
              name="listing[price]"
              class="form-control"
              value="<%=listing.price %>"
              required
            />
            <div class="invalid-feedback">Enter a proper price!</div>
          </div>
          <div class="mid-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              class="form-control"
              value="<%=listing.country %>"
              required
            />
            <div class="invalid-feedback">Enter a valid country!</div>
          </div>
        </div>
        <button type="submit" class="btn add-btn" formnovalidate>Update</button>
        <a href="/listing">
          <button class="btn add-btn">Back</button>
          <br />
        </a>
      </form>
    </div>
  </div>
</body>
